@(variant: Variant)

<div class="variant clearfix">
    <div class="variant-body">
        <div class="stamp" style="@getProductStampImage(variant)"></div>
        <div class="name">@variant.getString("box")</div>
        <img src="@variant.getFeaturedImage.getSize(ImageSize.LARGE).getUrl" alt="@variant.getString("box")" />
        <div class="price">@getPrice(variant.getPrice.getValue)</div>
    </div>
</div>
<div class="description">BOX WITH <span class="stress">@variant.getInt("quantity")</span> DONUTS</div>