@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

html, body { height: 100%; }

body {
    position: relative; margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300; font-size: 17px; color: #5D2001;
}

h2, h2+h3, br, table, .signup-plan-text, .signup-plan, .abo-hint { display: none; }

input {
    padding: 6px 14px;
    border: 0; box-shadow: 1px 2px #d7caaa; -webkit-box-shadow: 1px 2px #d7caaa; -moz-box-shadow: 1px 2px #d7caaa;
    font-family: 'Oswald', sans-serif;
    font-size: 18px; font-weight: 400; color: #5D2001;
} 

select {
    padding: 6px 14px;
    border: 1px solid #d7caaa; background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 18px; font-weight: 400; color: #5D2001;
}

.editor-label {
    margin: 20px 0 0 2px;
}

.form-group {
    position: absolute;
    margin-left: 1px;
}

form .form-group:nth-child(10) { top: 0px; left: 0px; }
#first-name { width: 220px; }

form .form-group:nth-child(11) { display: none; }

form .form-group:nth-child(12) { top: 0px; left: 270px; }
#last-name { width: 250px; }

form .form-group:nth-child(13) { top: 100px; left: 0px; }
#address-line1 { width: 220px; }

form .form-group:nth-child(14) { display: none; }

form .form-group:nth-child(15) { display: none; }

form .form-group:nth-child(16) { display: none; }

form .form-group:nth-child(17) { top: 100px; left: 270px; }
#address-city { width: 130px; }

form .form-group:nth-child(18) { top: 100px; left: 450px; }
#address-postal-code { width: 70px; }

.form-group:nth-child(19) { display: none; }

.form-group:nth-child(20) { top: 200px; left: 0px; }

#transaction-form .form-group:nth-child(3) { top: 0px; left: 0px; }
#transaction-form-name { width: 250px; }

#transaction-form .form-group:nth-child(2) { top: 100px; left: 0px; }
#transaction-form-number { width: 250px; }

#transaction-form .form-group:nth-child(4) { top: 100px; left: 295px; }

#transaction-form .form-group:nth-child(5) { top: 0px; left: 300px; }
#transaction-form-cvc { width: 120px; }

button[type=submit], button#transaction-button {
    position: absolute; top: auto; bottom: 0; left: 0;
    width: 289px; height: 76px; border: 0;
    background: url('http://donut.sphere.io/assets/images/button.png') no-repeat 0 0;
    background-size: 289px auto;
    font-family: 'Oswald', sans-serif; font-size: 1.5em; font-weight: 700; color: #FFFFFF;
    text-shadow: 2px 2px 2px #555555; text-transform: uppercase;
}

button:not([disabled]):hover { background-position: 0 -81px; }
button[disabled] { opacity: 0.4; }

button.btn-default {
    position: absolute; bottom: 150px; right: 50px;
    font-family: 'Oswald', sans-serif; font-size: 1.1em; font-weight: 300; color: #3A1401;
    background: transparent; border: 0;
    cursor: pointer;   
}
button.btn-default:hover { text-decoration: underline; }

button.btn-default:before { content: "["; }
button.btn-default:after { content: "]"; }

.muted {
    color: #eef;
    font-size: 11px;
}

.transaction-messages h3 { background: #bb1b1b; color: #FFFFFF; padding: 10px 20px; font-size: 16px; }


form .form-group:nth-child(10) { top: 0px; left: 0px; }
#first-name { width: 220px; }

form .form-group:nth-child(11) { display: none; }

form .form-group:nth-child(12) { top: 0px; left: 270px; }
#last-name { width: 250px; }

form .form-group:nth-child(13) { top: 80px; left: 0px; }
#address-line1 { width: 220px; }
#form-label-address-line1 { visibility: hidden; font-size: 0px; }
#form-label-address-line1:after {
    content: "Address *"; visibility: visible; font-size: 17px;
}

form .form-group:nth-child(14) { display: none; }

form .form-group:nth-child(15) { display: none; }

form .form-group:nth-child(16) { display: none; }

form .form-group:nth-child(17) { top: 80px; left: 270px; }
#address-city { width: 130px; }

form .form-group:nth-child(18) { top: 80px; left: 450px; }
#address-postal-code { width: 70px; }

.form-group:nth-child(19) { display: none; }

.form-group:nth-child(20) { display: none; }

#transaction-form .form-group:nth-child(3) { top: 0px; left: 0px; }
#transaction-form-name { width: 250px; }

#transaction-form .form-group:nth-child(2) { top: 80px; left: 0px; }
#transaction-form-number { width: 250px; }

#transaction-form .form-group:nth-child(4) { top: 80px; left: 295px; }

#transaction-form .form-group:nth-child(5) { top: 0px; left: 300px; }
#transaction-form-cvc { width: 120px; }


@media screen and (max-width: 550px) {
form .form-group:nth-child(10) { top: 0px; left: 0px; }
#first-name { width: 100px; }

form .form-group:nth-child(12) { top: 0px; left: 150px; }
#last-name { width: 100px; }

form .form-group:nth-child(13) { top: 80px; left: 0px; }
#address-line1 { width: 250px; }

form .form-group:nth-child(17) { top: 160px; left: 0px; }
#address-city { width: 130px; }

form .form-group:nth-child(18) { top: 160px; left: 180px; }
#address-postal-code { width: 70px; }

#transaction-form .form-group:nth-child(2) { top: 0px; left: 0px; }
#transaction-form-name { width: 250px; }

#transaction-form .form-group:nth-child(3) { top: 80px; left: 0px; }
#transaction-form-number { width: 250px; }

#transaction-form .form-group:nth-child(4) { top: 160px; left: 100px; }

#transaction-form .form-group:nth-child(5) { top: 160px; left: 0px; }
#transaction-form-cvc { width: 50px; }
.editor-label[for=ValidationCode] { visibility: hidden; font-size: 0px; }
.editor-label[for=ValidationCode]:after {
    content: "CVV *"; visibility: visible; font-size: 17px;
}

button[type=submit], button#transaction-button {
    left: 50%; margin-left: -143px;
}
