<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="DEBUG" />
    <logger name="application" level="DEBUG" />
    <logger name="controllers" level="DEBUG" />
    <logger name="models" level="DEBUG" />

    <logger name="donut" level="DEBUG"/>
    <logger name="pactas" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
