<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="OFF" />
    <logger name="application" level="OFF" />

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <logger name="donut" level="OFF"/>
    <logger name="pactas" level="OFF"/>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
