@(cart: Cart, item: LineItem, frequency: Int)

@scripts = {
    <script type="text/javascript" src="http://itero.demo.pactas.com/selfService/iterojs"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pactas.min.js")"></script>
}

@main("I want donuts!", "order", scripts){

}{
    <div class="top"></div>
    <section id="order-cart">
        <div class="space">
            <div class="inner">
                <div class="head">
                    <h1>Order details</h1>
                </div>
                <div class="body">
                    <div class="variant-smallest">
                        @helper.variant(cart.getLineItems.get(0).getVariant)
                    </div>
                    <div class="often">How often: <span class="value">@getFrequencyName(frequency)</span></div>
                    <div class="total">Total price: <span class="value">@getPrice(cart.getTotalPrice)</span></div>
                </div>
            </div>
        </div>
    </section>

    <form id="form-checkout">
        <input type="hidden" id="pactas-variant" value="@getPactasID(item, frequency)">
        <input type="hidden" id="transaction-form-currency" value="@item.getPrice.getValue.getCurrencyCode">
        <input type="hidden" id="transaction-form-amount" value="@item.getPrice.getValue.getAmount.setScale(2)" />

        <section id="order-shipping">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <h3>SHIPPING INFORMATION</h3>
                    </div>
                    <div class="body">
                        <div id="form-shipping-address" class="show">
                            @form.setAddress()
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="order-billing">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <h3>BILLING INFORMATION</h3>
                    </div>
                    <div class="body">
                        <div id="form-billing-method" class="show">
                            @form.setPayment()
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="order-purchase">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <button type="submit">CONFIRM ORDER!</button>
                        <div class="button-back">
                            <a href="@routes.Application.showProduct#product-box">[Or modify order]</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div class="bottom"></div>
    <a id="clear-order" href="@routes.Application.clearOrder">Clear order</a>
}{

}