@(data: OrderPageData)

@scripts = {
    <script type="text/javascript" src="http://itero.demo.pactas.com/selfService/iterojs"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pactas.min.js")"></script>
}

@main("I want donuts!", "order", scripts){

}{
    <div class="top"></div>
    <section id="order-cart">
        <div class="space">
            <div class="inner">
                <div class="head">
                    <h1>Order details</h1>
                </div>
                <div class="body">
                    <div class="variant-smallest">
                        @partials.variantDetail(data.variant)
                    </div>
                    <div class="often">How often: <span class="value">@data.frequencyName</span></div>
                    <div class="total">Total price: <span class="value">@data.totalPrice</span></div>
                </div>
            </div>
        </div>
    </section>

    <form id="form-checkout" method="post" action="@routes.OrderController.submit()">
        <input type="hidden" id="pactas-variant" value="@data.pactasVariantId">
        <input type="hidden" id="transaction-form-currency" value="@data.currency">
        <input type="hidden" id="transaction-form-amount" value="@data.priceAmount" />

        <section id="order-shipping">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <h3>SHIPPING INFORMATION</h3>
                    </div>
                    <div class="body">
                        <div id="form-shipping-address" class="show">
                            @partials.addressForm()
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="order-billing">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <h3>BILLING INFORMATION</h3>
                    </div>
                    <div class="body">
                        <div id="form-billing-method" class="show">
                            @partials.paymentForm()
                            <h5 id="error-message"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="order-purchase">
            <div class="space">
                <div class="inner">
                    <div class="head">
                        <button type="submit" data-loading-text="ORDERING...">CONFIRM ORDER!</button>
                        <div class="button-back">
                            <a href="@routes.ProductController.show()#product-box">[Or modify order]</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <div class="bottom"></div>
    <a id="clear-order" href="@routes.OrderController.clear()">Clear order</a>
}{

}