@()

@main("I want donuts!", "success"){

}{

<div class="top"></div>
<section id="order-result">
    <h1><img src="@routes.Assets.at("images/checked.png")"/> All right!</h1>
    <h4>Order is done.<br/>
        Please keep in mind that this shop is for demonstration only.<br/>
        Therefore we don't ship donuts in reality.<br/>
        Don't worry, no payments will be charged.<br/>
        If we ship donuts someday in the future you'll be the first that will be informed.
    </h4>
    <div class="button-back">
        <a href="@routes.Application.showProduct" class="button-back">[Go back]</a>
    </div>
</section>
<div class="bottom"></div>

}{


}